# Ruby version files
.ruby-version
Gemfile
Gemfile.lock

# Jekyll build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# macOS
.DS_Store

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/
